.row
  .col-md-8
    %form{name: "projectForm", class: "horizontal-form", "ng-controller" => "NewController as new", "ng-submit" => "projectForm.$valid && new.addProject(main)"}
      .form-group
        = label_tag "Name"
        = text_field_tag :name, "", class: "form-control", required: true, "ng-model" => "new.project.name"
      .form-group
        = label_tag "URL"
        = text_field_tag :url, "", class: "form-control", required: true, "ng-model" => "new.project.url", type: "url"
      .form-group
        = label_tag "Power"
        = text_field_tag :power, "", class: "form-control", required: true, "ng-model" => "new.project.power"
      .pull-right
        = submit_tag "Submit", class: "btn btn-info"

:css
  .ng-invalid.ng-dirty{
    border-color: #FA787E;
  }              