<!DOCTYPE html>
%html{"ng-app" => "project"}
  %head
    %title Angular tutorial
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application' 
    = javascript_include_tag :projects
    = csrf_meta_tags

  %body
    .container
      = yield 
