<!DOCTYPE html>
%html
%head
  %title Demographic
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = yield :morecss 
  = javascript_include_tag :modernizr
  = javascript_include_tag 'application', 'data-turbolinks-track' => true 
  = yield :morejs
  = csrf_meta_tags

%body
  .container
    = yield 

